<html lang="en">
<head>
    <%- include("../partials/header.ejs") %>
</head>
<body>
    
    <%- include("../partials/nav.ejs") %>

    <div>
        <form action="/admin/sales/events" method="POST">
            <input type="hidden" id="id" name="id" value="<%= cartItem._id %>">
            <input type="hidden" id="clientId" name="clientId" value="<%= cartItem.clientId %>">
            <select id="local" name="local">
                <% locals.forEach(local => { %>
                    <option value="<%= local.name %>"><%= local.name %></option>
                <% }) %>
            </select>
            <button type="submit">Select</button>
        </form>
    </div>

</body>
</html>